### Vishaal T
### 20BDS0271
### Assignment-1

#### Importing the required libraries

In [21]:
import pandas as pd
import numpy as np

#### 1. Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [22]:
np.random.seed(42)
data = np.random.rand(4, 4)
# Create DataFrame
df = pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'])

In [23]:
df

   Feature 1  Feature 2  Feature 3  Feature 4
0   0.374540   0.950714   0.731994   0.598658
1   0.156019   0.155995   0.058084   0.866176
2   0.601115   0.708073   0.020584   0.969910
3   0.832443   0.212339   0.181825   0.183405

#### 2. Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [24]:
df.rename(columns = {'Feature 1':'Random value 1', 'Feature 2': 'Random value 2', 'Feature 3':'Random value 3' , 'Feature 4': 'Random value 4'}, inplace = True)

In [25]:
df.columns

Index(['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'], dtype='object')

#### 3. Find the descriptive statistics of the 'df' dataframe

In [26]:
descriptive_stats = df.describe()
print(descriptive_stats)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.491029        0.506780        0.248122        0.654537
std          0.291252        0.386153        0.329856        0.350875
min          0.156019        0.155995        0.020584        0.183405
25%          0.319910        0.198253        0.048709        0.494845
50%          0.487828        0.460206        0.119954        0.732417
75%          0.658947        0.768733        0.319367        0.892110
max          0.832443        0.950714        0.731994        0.969910

#### 4. Check for the null values in 'df' and find the data type of the columns

In [27]:
null_values = df.isnull().sum()
print("Null Values:")
print(null_values)

# Find data types of columns
data_types = df.dtypes
print("\nData Types:")
print(data_types)

Null Values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Data Types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

#### 5. Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.m

In [28]:
# Display columns using the location (loc) method
columns_location = df.loc[:, ['Random value 2', 'Random value 3']]
print("Columns using the location method:")
print(columns_location)

# Display columns using the index location (iloc) method
index_location = df.iloc[:, [1, 2]]
print("\nColumns using the index location method:")
print(index_location)

Columns using the location method:
   Random value 2  Random value 3
0        0.950714        0.731994
1        0.155995        0.058084
2        0.708073        0.020584
3        0.212339        0.181825

Columns using the index location method:
   Random value 2  Random value 3
0        0.950714        0.731994
1        0.155995        0.058084
2        0.708073        0.020584
3        0.212339        0.181825